<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-danger" (click)="onCancel()">بستن</button>
          <button type="submit" class="btn btn-success">ذخیره</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">عنوان</label>
            <input type="text" class="form-control" formControlName="name" id="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">تصویر</label>
            <input type="text" class="form-control" formControlName="imagePath" id="imagePath">
            <img [src]="editForm.get('imagePath').value" alt="" style="max-width: 100%; margin-top: 10px;">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">توضیحات</label>
            <textarea type="text" class="form-control" formControlName="description" id="description" rows="10"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row" style="margin-top: 10px;" *ngFor="let ingredientCtrl of editForm.controls['ingredients']['controls']; let i=index" [formGroupName]="i">
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="text" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="addIngredient()">افزودن مواد غذایی</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>