<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">نام ماده</label>
          <input type="text" id="name" class="form-control" formControlName="name">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">مقدار</label>
          <input type="number" id="amount" class="form-control" formControlName="amount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12  form-group">
          <button class="btn btn-primary" type="button" (click)="onClear()">بازنویسی</button>
          <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">حذف</button>
          <button class="btn" [ngClass]="{'btn-warning': editMode == true, 'btn-success': editMode == false}" type="submit" [disabled]="!ingredientForm.valid">{{editMode ? 'ویرایش' : 'افزودن'}}</button>
        </div>
      </div>
    </form>
  </div>
</div>